* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}
html {
  scroll-behavior: smooth;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.15;
  background: linear-gradient(honeydew, ghostwhite);
  /* background: ghostwhite; */
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.75)
  );
}
.navbar {
  font-size: 2rem;
  font-family: monospace;
  padding: 2rem;
  margin-bottom: 1rem;
}
/* .btn-primary {
  background-color: #ff531a;
  color: #333;
  padding: 5px;
  border-radius: 5px;
}
.btn-secondary {
  background-color: #333;
  color: #ff531a;
  padding: 5px;
  border-radius: 5px;
}
.btn-success {
  background-color: #333;
  color: #00cc00;
  padding: 5px;
  border-radius: 2px;
} */
/* .jumbotron {
  width: 100%;
  height: 500px;
} */
h1,
h2,
h3,
p {
  margin: 1.5rem;
}

/* about */
img[alt='Anukul Kumar'] {
  display: block;
  margin-top: 10px;
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
a img {
  width: 30px;
  margin: 4px;
  height: 30px;
  display: inline;
}
.card {
  border-bottom: 2px solid #ff531a;
  border-radius: 5px;
  padding: 1.3rem;
}
h5[class='card-title'] {
  font-size: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
}
p[class='card-text'] {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffb380;
}
.article-title {
  font-size: 6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  margin: 2rem;
  line-height: 150%;
}
.article-body {
  font-size: 3rem;
  line-height: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.article-author {
  font-size: 4rem;
  line-height: 200%;
  color: dimgrey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.date {
  font-size: 1.8rem;
  line-height: 100%;
  color: dimgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin-top: 8rem;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  padding: 0;
}
.jumbotron {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: ghostwhite;
}
.links {
  margin: 0.2rem;
  padding: 1rem;
}
