{% extends 'layout.html' %}

{% block body %}
    <h1>Articles</h1><hr/>
    <!-- <ul class="list-group">
        {% for article in articles %}
        <li class="list-group-item">
            <a href="article/{{article.id}}"> {{article.title}}</a>
        </li>
        {% endfor %}
    </ul> -->
    {% for article in articles %}
    <div class="card">
        <!-- <img class="card-img-top" src="{{ url_for('static', filename = 'images/anukul.jpg') }}" alt="Anukul Kumar" alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.body[:100] | safe }}...</p>
            <a href=article/{{article.slug}} class="btn btn-primary">Read more</a>
        </div>
      </div>
      {% endfor %}
{% endblock %}