{% extends 'layout.html'%}
{% block body %}
    <h1>Edit article</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form action="" method="post">
        <div class="form-group">
            {{ render_field(form.title, class_="form-control") }} 
        </div>
        <div class="form-group">
            {{ render_field(form.body, class_="form-control", id="editor") }}
        </div>
        <p><input type="submit" value="Submit" class="btn btn-primary"></p>
    </form>
{% endblock %}