{% extends 'layout.html' %}

{% block body %}
    <h1 style="margin:3rem;margin-left: 0.1rem">Register</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form action="" method="post">
        <div class="form-group">
            {{render_field(form.name, class="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.email, class="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.username, class="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.password, class="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.confirm, class="form-control")}}
        </div>
        <div class="form-group">
            <label>Twitter</label>
            <input type="text" name="twitter" class="form-control" value="{{request.form.twitter}}">
        </div>
        <div class="form-group">
            <label>LinkedIn</label>
            <input type="text" name="linkedin" class="form-control" value="{{request.form.linkedin}}">
        </div>
        <div class="form-group">
            <label>Instagram</label>
            <input type="text" name="instagram" class="form-control" value="{{request.form.instagram}}">
        </div>
        <p><input type="submit" value="Submit" class="btn btn-primary"></p>
    </form>
{% endblock %}